.backLink {
  display: inline-flex;
  padding: 15px;
  color: #000;
  border-radius: 100px;
  margin-bottom: 5vh;
  background: #5067e91c;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
