.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  grid-gap: 20px;
  position: relative;
}
.formItem {
  position: relative;
}
.formLabel {
  padding-bottom: 5px;
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 720px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .formItem {
    margin: 20px 0;
  }
}
.error {
  background: rgba(204, 40, 40, 0.876);
  display: block;
  width: 100%;
  padding: 20px;
  grid-column: 1 / 4;
  animation: pop-up 0.2s ease-out;
  color: #fff;
  border-radius: 7px;
}
@keyframes pop-up {
  0% {
    transform: scale(0.94);
  }
  95% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
