.wrapper {
  position: sticky;
  top: 20px;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    border-radius: 3px;
    padding: 0 15px;
    color: rgb(45, 16, 68);
    margin: 10px 0;
    a {
      color: #000;
    }
  }
}
@media screen and (max-width: 720px) {
  .wrapper {
    margin-bottom: 5vh;
  }
  .list {
    display: flex;
    flex-direction: column;
    li {
      padding: 0;
      flex: 1;
      margin: 5px 0;
    }
  }
}

//buy me a coffee
.bmcButtonimg {
  height: 20px !important;
  width: 35px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
  margin-right: 10px;
}
.bmcButton {
  padding: 7px 15px 7px 10px !important;
  line-height: 35px !important;
  height: 51px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #ffffff !important;
  background-color: #000000 !important;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  padding: 7px 15px 7px 10px !important;
  font-size: 14px !important;
  letter-spacing: 0.6px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-weight: 600;
}
.bmcButton:hover,
.bmcButton:active,
.bmcButton:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #ffffff !important;
}
