.CookiesInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 2px solid #000;
}
