.wrapper {
}
.contentWrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 20px;
  margin-top: 10vh;
}

.issuesList {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.repoNameWrapper {
  position: sticky;
  top: 0;
}
.repoName {
  font-size: 1.4rem;

  background: #fff;
  padding: 20px 0;
  z-index: 0;
  color: #000;
  text-decoration: none;
  display: block;
  font-weight: 500;
  margin: 20px 0;
  word-break: break-word;
}
.loaderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    opacity: 0.6;
    margin-top: 20px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 720px) {
  .contentWrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
